<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wasapii.adisoftin"
    android:installLocation="auto"
    >
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>

    <!-- Used to start logging after re-boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>





    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        >

        <activity
            android:name=".SplashActivity"
            android:theme="@style/HomeActivityTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".HomeActivity"
            android:theme="@style/HomeActivityTheme"
            android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="com.javacodegeeks.android.lbs.ProximityAlert"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/HomeActivityTheme"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".SignUpNameActivity"
            android:theme="@style/HomeActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ChosePlaceActivity"
            android:theme="@style/HomeActivityTheme" />
        <activity
            android:name=".MapDemoActivity" />
        <activity
            android:name=".SentMeetRequestActivity"
            android:theme="@style/HomeActivityTheme" />
        <activity
            android:name=".AcceptedMeetUserProfileActivity"
            android:theme="@style/HomeActivityTheme" />
        <activity
            android:name=".SignUpEmailActivity"
            android:theme="@style/HomeActivityTheme"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".SignUpPasswordActivity"
            android:theme="@style/HomeActivityTheme"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".SignUpMobileActivity"
            android:theme="@style/HomeActivityTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".SignUpPhotoActivity"
            android:theme="@style/HomeActivityTheme" />
        <activity
            android:name=".SignUpHashTagActivity"
            android:theme="@style/HomeActivityTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"

            />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1747666881927055"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!-- <activity -->
        <!-- android:name="com.facebook.CustomTabActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


        <!-- <data android:scheme="@string/fb_login_protocol_scheme" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <receiver
            android:name=".Receiver.LocationLoggerServiceManager"
            android:enabled="true"
            android:exported="false"
            android:label="LocationLoggerServiceManager">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".Receiver.ProximityReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <!--<action android:name="ACTION_PROXIMITY_ALERT" />-->
                <action android:name="com.javacodegeeks.android.lbs.ProximityAlert"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>


        </receiver>



        <service
            android:name=".Service.BackgroundLocationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value="AIzaSyBdoWyVmeUZZzfa7Px3V1HXjo2-COSWMoM" />-->

        <!--<activity android:name=".ChatDetailActivity"
            android:windowSoftInputMode="stateHidden"/>-->

        <activity android:name=".SettingsActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".PrivacyPolicyActivity" />
        <activity android:name=".TermsandConditionsActivity" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".ProximityAlert" />
        

        <activity android:name=".EditMyProfileActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".ViewUserProfileActivity" />
        <activity android:name=".ChatActivity"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".SearchActivity"></activity>

        <service android:name=".Service.GPSService" android:exported="false" android:enabled="true">

        </service>

        <service android:name=".Service.ProximityService"
            android:exported="false" android:enabled="true">

        </service>



        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
             The API key for Google Maps-based APIs.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

    </application>



</manifest>